body {
  font-family: "Exo 2", sans-serif;
 
}
h1 {
  color:#fcfcfc;
  opacity: 0.9;
  margin-top: 30px;
  font-size: 20px;
  font-weight: bold;
  position: relative;
  left: 65px;
  bottom: -0px;
}

h2 {
  color:#fcfcfc;
  font-size: 20px;
  margin-left: 40px;
  font-weight: bolder;

 
}

h3 {
  color:#fcfcfc;
  font-size: 14px;
  position: relative;
 margin-top: -4px;
  margin-left: 40px;

}

h4 {
  color:#fcfefe;
  margin-top: 5px;
  font-size: 18px;
  position: relative;
  font-weight: bold;
  margin-right: 30px;
  margin-left: 40px;
  bottom: -30px;
}



li {
  color:#fcfefe;
  margin-top: -2px;
  font-size: 16px;
  position: relative;
  display: block;
  margin-left: 500px;
  text-transform: capitalize;
}

ul 

{
margin-top: -60px;

  }

form {
  margin-left: 10px;
  margin-top: 50px;
  position: relative;
}
input {
  border-color: #2596be;
  padding: 6px;
}

.units {
  position: relative;
  font-size: 16px;
  top: -2px;
 
  
}

.active {
  color:#fcfcfc;
  cursor: default;
   text-decoration: none;

}

.active:hover {
  text-decoration: none;
}


.dateTime {
  display: block;
  color:#fcfcfc;
  opacity: 0.9;
  left: 700px;
  top: -69px;
  position: relative;
}
.current-weather {
  color:#fcfcfc;
  font-size: 15px;
  opacity: 0.9;
  position: relative;
  left: 80px;
  bottom: 16px;
}

.card {
  border-color: #fcfcfc;
  box-shadow: 0.5px 1.5px 1.5px 0.5px;
  margin: 40px;
  margin-right: -55px;
  margin-left: 40px;
  margin-bottom: 40px;
}



.weather-button {
  padding: 8px 10px;
  background-color: #2596be;
  border: #2596be;
  border-radius: 3px;
}

.weather-app {
  border: 2px solid #88e2e9;
  max-width: 750px;
  margin: 20px auto;
  border-radius: 20px;
  background:linear-gradient(to top, #30cfd0 0%, #330867 100%);;
}

.footer {

  text-align: center;
  color: #2596be;


  }

 .weather-forecast

 {
text-align: center;
 color: #2596be;
  }

  .float-left

 {
 margin-left: 50px;
 margin-top: -15px;

 
  }
